body{
    font-family: "Roboto" , sans-serif;
}

#main{
    background-color: rgb(226, 226, 226);
    width: 97vw;
    margin: 0 auto;
    
    border-radius: 5px;
    font-family: "Roboto" , sans-serif;
}

#title{
    color: rgb(68, 68, 68);
    display: block;
    font-size: 3em;
    text-align: center;
    font-family: "Roboto" , sans-serif;
    letter-spacing: 1.5px;
    margin: 0;
    padding-top: 1.5em;
}

.subtitle{
    text-align: center;
    color: rgb(34, 34, 34);
    font-family: "Roboto" , sans-serif;
    margin:0;
    padding: 3px 0 10px 0;

}

/*--------Image--------*/

#img-div{
    position: relative;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(48,48,48,1) 50%, rgba(0,0,0,1) 100%);
    margin: 15px;
}
#image{
    max-width: 60%;
    height: auto;
    display: block;
    position: relative;
    top: 15px;
    margin: 0 auto;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
}
#img-caption{
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 1em 0;
    color: white;
}

/*-------Tribute info--------*/

.info-title{
    text-align: center;
    font-family: "Roboto" , sans-serif;
    font-size: 1em;
    padding: 2em;
}

#list{
    width: 50%;
    margin: 0 auto;
    
    
}
#list p{
    text-align: left;
    width: 90%;
    padding-left: 20px;
}
li{
    padding: 0.5em 0;
    font-family: "Roboto" , sans-serif;
    color: rgb(59, 59, 59);;
}

/*--------Footer-------*/

#footer-info{
    text-align: center;
    padding: 1em 0 2em 0;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(59, 59, 59);
}
#tribute-link{
    text-decoration: none;
    color: rgb(47, 104, 151);
}

/*--------Media queries-------*/

@media only screen and (max-width: 700px){
   
    #list{
        width: 70%;
        
    }
    #title{
        font-size: 2em;
    }
    .subtitle{
        font-size: 0.8em;
    }
    #img-caption{
        font-size: 0.7em;
    }
    li{
        font-size: 0.85em;
    }
}


